/*
    Header
*/

.hero {
    background: url("../img/bg-3.jpg") 0 center;
    background-size: cover;
    padding: 100px 0;
    color: #fff;
}
    .hero h1 {
        font-size: 39px;
        text-transform: uppercase;
    }

    .hero p {
        line-height: 1.5;
        max-width: 50%; 
    }

    .hero button {
        color: #fff;
        padding: 10px 20px;
        background-color: #5bc0de;
        font-size: 18px;
        border: 0;
    }
    .hero button:hover {
        background-color: #31b0d5;;
    }
    .hero button:active {
        background-color: #269abc;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    }

a, header a:hover { text-decoration: none; }
a:hover { text-decoration: underline; }

header a {
    color: #333;
}

.main-menu {
    margin: 0;
    padding-left: 0;
    text-align: right;
    font-size: 14px;
}
    .main-menu a:hover {
        background-color: #eee;
    }

    .main-menu > li {
        display: inline-block;
        position: relative;
    }

        .main-menu > li > a {
            padding: 15px;
            display: inline-block;
        }


.dropdown {
    position: absolute;
    right: 0;
    padding-left: 0;
    text-align: left;
    list-style: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-width: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    display: none;
}

    .dropdown li a {
        display: block;
        padding: 10px 25px;
        min-width: 100px;
    }

.main-menu > li:hover .dropdown {
    display: block;
}


/*
    Welcome
*/